.textbox {
    margin-right: 5px;
    border: 1px solid #cccccc;
    height: 30px;
    width: auto;
    box-sizing: border-box;
    font-size: 15px;
    color: grey;
    border-radius: 10px 10px 10px 10px;
}

.textbox:hover {
    border: 3px solid #bfd1f8;
}

.submitbutton {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #587fd3;
    color: white;
    font-size: small;
    font-weight: bold;
    height: 30px;
    width: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.plusIcon{
    height: 15px;
    width: auto;
    margin-right: 8px;
}

